<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ass3_11670527_Saman.Properties.Settings.DebugBurgerDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DebugBurgerDB.mdb"
            providerName="System.Data.OleDb" />
        <add name="Ass3_11670527_Saman.Properties.Settings.BurgerDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\BurgerDB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>